@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  [v-cloak] {
    display: none;
  }

  .img-fit-div {
    object-fit: cover;
  }

  html{
    scroll-behavior: smooth;
  }
  
  .my-text-indigo{
    color: #5c5d97;
  }
  
  .my-bg-indigo{
    background-color: #5c5d97;
  }
  
  .my-text-white{
    color: #f1f0f2;
  }
  
  .my-border-indigo{
    --tw-border-opacity: 1;
    border-color: rgba(92, 93, 151, var(--tw-border-opacity));
  }
  
  .my-bg-indigo:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(92, 93, 151, var(--tw-bg-opacity));
  }
  
  .my-bg-white{
    background-color: #f1f0f2;
  }
  
  .h-fit-9--5{
    height: calc(100vh - 9.5rem);
  }
  .h-fit-10--5{
    height: calc(100vh - 10.5rem);
  }
  .h-fit-11--5{
    height: calc(100vh - 11.5rem);
  }
  .h-fit-12--5{
    height: calc(100vh - 12.5rem);
  }
  .h-fit-14--5{
    height: calc(100vh - 14.5rem);
  }
  .h-fit-8{
    height: calc(100vh - 8rem);
  }

  select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
  }

  .h-100-10{
    height: 90%;
  }
  .min-h-56{
    min-height: 13rem;
  }
}

@layer components {
  .min-h-53{
    min-height: 13rem
  }
  th, td{
    @apply border text-sm py-1 px-3 text-gray-500;
  }

  tbody>tr:nth-child(even) {
    @apply bg-gray-100;
  }

  tbody>tr{
    @apply hover:bg-gray-200
  }
  
  th{
    @apply border-b-2 whitespace-nowrap;
  }

  input:focus,button:focus, textarea:focus{
    @apply focus:outline-none
  }

  .form-tick:checked {
    background-image: url(../assets/check.svg);
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .danger-notif{
    @apply absolute top-2 right-4 py-4 px-6 rounded-lg shadow-lg bg-red-500 text-white font-normal text-base border-2 border-red-600 z-10 transition-all duration-300 ease-in-out
  }

  .success-notif{
    @apply absolute top-2 right-4 py-4 px-6 rounded-lg shadow-lg bg-green-500 text-white font-normal text-base border-2 border-green-600 z-10 transition-all duration-300 ease-in-out
  }
}